p{
    text-align: center;
}
body{
    background: #cccccc
}   
.banner {
width:100% ;
}
 .benefícios {background:#ffffff ;
    padding: 20 px;
    }
        .imagembenefícios 50%
        .principal{
        backgroundcolor #cccccc;
         padding: 30px;
    }
    .titulocentralizado{
    text-align: center;
    }
    ul{
        display: block;
        margem 
    }